{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <h1 class="text-center">Add song to playlist</h1>
        <form action="/playlist/add">
            <div class="mb-3">
                <label class="form-label" for="playlists">Playlist:</label>
                <select class="form-control" name="playlists" id="playlists">
                    {% for playlist in playlists %}
                        <option value="{{ playlist.id }}">{{ playlist.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label" for="">Song ID:</label>
                <input class="form-control" type="text" name="song_id" id="song_id">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
{% endblock %}