<html lang="en">
          <head>
            <meta charset="utf-8">
          
            <title>Html Generated</title>
            <meta name="description" content="Figma htmlGenerator">
            <meta name="author" content="htmlGenerator">
            <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">

            <link rel="stylesheet" href="styles.css">
            
            <style>
              /*
                Figma Background for illustrative/preview purposes only.
                You can remove this style tag with no consequence
              */
              body {background: #E5E5E5; }
            </style>
          
          </head>
          
          <body>
            <div class=e3_2><div class=e4_29><div  class="e4_25"></div><div  class="e4_26"></div><div  class="e4_27"></div><div  class="e4_28"></div></div><span  class="e3_3">Feel The Music</span><span  class="e4_4">Stream over thousands of songs with one click
</span><div class=e4_8><div  class="e4_5"></div><span  class="e4_6">
Join Now</span></div><div class=e4_193><div  class="e4_194"></div><span  class="e4_195">Discover</span><span  class="e4_196">Sign Up</span><span  class="e4_197">Playlists</span><span  class="e4_198">Account</span><span  class="e4_199">Community</span><span  class="e4_200">Chatroom</span><span  class="e4_201">Checkout</span><div class=e4_202><div class=e4_204><div  class="e4_203"></div><div  class="e4_213"></div></div></div></div></div>
          </body>
          </html>