{% extends 'base.html' %}
{% block content %}
    <div class="container mt-5" >
        <form action="/search" method="post">
            <div class="form-outline mb-4">
                <label class="form-label visually-hidden" for="search">Search</label>
                {% if placeholder is not defined %}
                    <input type="text" name="search_info" id="search" class="form-control" placeholder="Search" />
                {% else %}
                    <input type="text" name="search_info" id="search" class="form-control" placeholder="Search" value="{{placeholder}}" />
                {% endif %}
            </div>
        </form>
    {% if results is defined  %}
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Song Name</th>
                    <th scope="col">Album</th>
                    <th scope="col">Artist Name</th>
                    <th scope="col">Music Video</th>
                    <th scope="col">Song Page</th>
                    <th scope="col">Sample</th>
                </tr>
            </thead>
            <tbody>
                {% for result in results %}
                    <tr>
                        <td>{{ result.name }}</td>
                        <td>{{ result.album }}</td>
                        <td>{{ result.artist }}</td>
                        <td>{% if result.music_video is defined %}
                            <a href={{ result.music_video }}>Song Link</a>
                            {% else %}
                            None
                            {% endif %}
                        </td>
                        <td><a href=`/song?spotify_id={{ result.spotify_id }}&audiodb_id={{ result.audiodb_id }}`>Song Profile</a></td>
                        <td class="text-center"><h3><i class="bi bi-play-fill"></i></h3></td>
                    </tr>
                {% endfor %}
            </tbody>


        </table>
    {% endif %}
    </div>
{% endblock %}